{% extends "layouts/base.twig" %}

{% set body_classes = 'inner-page' %}

{% block content %}
    <section class="section">
        <div class="content-column">
        Module twig view. Var value: {{ var123456 }}
        </div>
    </section>
{% endblock %}