{% extends "layouts/base.twig" %}
{% set body_classes = 'inner-page' %}
{% set pageTitle = entry.title %}

{% block content %}
    {% cache using key "general-page" %}
    <article class="section">
        <div class="content-column content-column--narrow">

            <h1 class="centered">{{ entry.title }}</h1>
            {{ entry.richText }}

            {% set children = entry.children().level(2) %}
            {% for child in children %}
                <p>
                    <a href="{{ child.url }}" class="cta-link">{{ child.title }}</a>
                </p>
            {% endfor %}
        </div>
    </article>
    {% endcache %}
{% endblock %}